cloud-Infrastructure/data/node-red-data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "ML and MQTT Subscriber",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7741acbc4d0c010",
        "type": "tab",
        "label": "DB Controls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6c329914ca9c596",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "037aecdc6926ce9a",
        "type": "mqtt-broker",
        "name": "IdC",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5279b01.b328d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "566d95256d190e9f",
        "type": "postgreSQLConfig",
        "name": "PostgresDB",
        "host": "172.100.10.13",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "database",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "1000",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "4558b5a479f88a7a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4429aae43b37c326",
        "type": "ui_group",
        "name": "Chart Calorias",
        "tab": "c6f79a2c0e9e2f01",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6f79a2c0e9e2f01",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "086e043121d11401",
        "type": "ui_group",
        "name": "Introduction",
        "tab": "c6f79a2c0e9e2f01",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ba37fd4.6558f",
        "type": "ui_group",
        "name": "Example Flow",
        "tab": "72415252.b2cadc",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "72415252.b2cadc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "71808ae9c2f6163a",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/trainning.data",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "c67c15e6a0d10fae"
            ]
        ]
    },
    {
        "id": "c67c15e6a0d10fae",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "train",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://app:8000/train",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 120,
        "wires": [
            [
                "265f1ec2a088ad5e"
            ]
        ]
    },
    {
        "id": "265f1ec2a088ad5e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Train answer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "a64daadc9d4dd331",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Predict Service",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://app:8000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "53a58756d285dbb3"
            ]
        ]
    },
    {
        "id": "5948fcfd2b76b95d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "idc/FC56323",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f5279b01.b328d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "a64daadc9d4dd331"
            ]
        ]
    },
    {
        "id": "03994f40962dce6a",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Receives client phone info, classifies it and stores it TODO: add to DB",
        "info": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "45e35c73cfb74595",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Sends the training data to the ML processor which will train a KNN model with it with with",
        "info": "",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "67f2465bb03e05d5",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "71808ae9c2f6163a"
            ]
        ]
    },
    {
        "id": "517ab78f8a9643ee",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "query": "INSERT INTO user_phone_data VALUES ('{{{ msg.payload.date }}}', '{{{ msg.payload.time }}}', {{{ msg.payload.activity }}}, {{{ msg.payload.acceleration_x }}}, {{{ msg.payload.acceleration_y }}}, {{{ msg.payload.acceleration_z }}}, {{{ msg.payload.gyro_x }}}, {{{ msg.payload.gyro_y }}}, {{{ msg.payload.gyro_z }}});\n",
        "postgreSQLConfig": "566d95256d190e9f",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 810,
        "y": 220,
        "wires": [
            [
                "94915d9b48332c2c"
            ]
        ]
    },
    {
        "id": "53a58756d285dbb3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = \"date;time;activity;acceleration_x;acceleration_y;acceleration_z;gyro_x;gyro_y;gyro_z \\n\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "d7d69a1c80776d27"
            ]
        ]
    },
    {
        "id": "d7d69a1c80776d27",
        "type": "csv",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "517ab78f8a9643ee"
            ]
        ]
    },
    {
        "id": "94915d9b48332c2c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "2c547707cd5b9e7b",
        "type": "file in",
        "z": "e7741acbc4d0c010",
        "name": "",
        "filename": "/data/trainning.data",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "5e1de0b3a3ea18e0"
            ]
        ]
    },
    {
        "id": "5e1de0b3a3ea18e0",
        "type": "csv",
        "z": "e7741acbc4d0c010",
        "name": "",
        "sep": ";",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "e3d8bf37fdaa465d"
            ]
        ]
    },
    {
        "id": "1031078df62d838f",
        "type": "postgresql",
        "z": "e7741acbc4d0c010",
        "name": "",
        "query": "INSERT INTO user_phone_data VALUES ('{{{ msg.payload.date }}}', '{{{ msg.payload.time }}}', {{{ msg.payload.activity }}}, {{{ msg.payload.acceleration_x }}}, {{{ msg.payload.acceleration_y }}}, {{{ msg.payload.acceleration_z }}}, {{{ msg.payload.gyro_x }}}, {{{ msg.payload.gyro_y }}}, {{{ msg.payload.gyro_z }}});",
        "postgreSQLConfig": "566d95256d190e9f",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 830,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "082a3570393a3628",
        "type": "debug",
        "z": "e7741acbc4d0c010",
        "name": "Create result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "9410ec301b9ca15e",
        "type": "postgresql",
        "z": "e7741acbc4d0c010",
        "name": "",
        "query": "CREATE TABLE user_phone_data (\n    date VARCHAR(255),\n    time VARCHAR(255),\n    activity INT CHECK (activity IN (0, 1)),\n    acceleration_x FLOAT,\n    acceleration_y FLOAT,\n    acceleration_z FLOAT,\n    gyro_x FLOAT,\n    gyro_y FLOAT,\n    gyro_z FLOAT,\n    PRIMARY KEY (date, time)\n);",
        "postgreSQLConfig": "566d95256d190e9f",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "082a3570393a3628"
            ]
        ]
    },
    {
        "id": "9ead1aaa4d753dc3",
        "type": "inject",
        "z": "e7741acbc4d0c010",
        "name": "Creta table",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "9410ec301b9ca15e"
            ]
        ]
    },
    {
        "id": "a290f5de93c62e82",
        "type": "inject",
        "z": "e7741acbc4d0c010",
        "name": "Load traning data",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "2c547707cd5b9e7b"
            ]
        ]
    },
    {
        "id": "e5a7e6661a80276f",
        "type": "debug",
        "z": "e7741acbc4d0c010",
        "name": "Delete result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "8c9aba176a9b2898",
        "type": "postgresql",
        "z": "e7741acbc4d0c010",
        "name": "",
        "query": "DELETE FROM user_phone_data;",
        "postgreSQLConfig": "566d95256d190e9f",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "e5a7e6661a80276f"
            ]
        ]
    },
    {
        "id": "7945c52eb0c02e90",
        "type": "inject",
        "z": "e7741acbc4d0c010",
        "name": "Clear table contents",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "8c9aba176a9b2898"
            ]
        ]
    },
    {
        "id": "e3d8bf37fdaa465d",
        "type": "delay",
        "z": "e7741acbc4d0c010",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "300",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 660,
        "y": 440,
        "wires": [
            [
                "1031078df62d838f"
            ]
        ]
    },
    {
        "id": "05abca18221432d5",
        "type": "debug",
        "z": "e7741acbc4d0c010",
        "name": "Count result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.0.count",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "c97655fe639f708c",
        "type": "postgresql",
        "z": "e7741acbc4d0c010",
        "name": "",
        "query": "SELECT COUNT(*) FROM user_phone_data",
        "postgreSQLConfig": "566d95256d190e9f",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "05abca18221432d5"
            ]
        ]
    },
    {
        "id": "92873e2bd2733b43",
        "type": "inject",
        "z": "e7741acbc4d0c010",
        "name": "Count table contents",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "c97655fe639f708c"
            ]
        ]
    },
    {
        "id": "d31cc7e35206eb09",
        "type": "comment",
        "z": "e7741acbc4d0c010",
        "name": "Load the data from training data to the DB, so it can be used in calculations and charts, not needed to train model.",
        "info": "",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "2894c71e649539d2",
        "type": "comment",
        "z": "e7741acbc4d0c010",
        "name": "Clear all phone data in the DB",
        "info": "",
        "x": 220,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf215da0b4daaa99",
        "type": "comment",
        "z": "e7741acbc4d0c010",
        "name": "Create table for phone data in DB",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "68ee830e8b74a5d7",
        "type": "comment",
        "z": "e7741acbc4d0c010",
        "name": "Count the entries in phone data table in DB",
        "info": "",
        "x": 260,
        "y": 280,
        "wires": []
    },
    {
        "id": "6305476c22694738",
        "type": "comment",
        "z": "e7741acbc4d0c010",
        "name": "ATTENTION! This takes up to 6 minutes and might crash depending on the system. Rate can be reduced to increse stability at the cost of time",
        "info": "",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "a1da816478b01fb6",
        "type": "ui_text",
        "z": "d6c329914ca9c596",
        "group": "086e043121d11401",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Welcome,",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "399c22ea5abcea7b",
        "type": "comment",
        "z": "d6c329914ca9c596",
        "name": "Precisa de receber user.name para o msg.payload",
        "info": "Precisa de receber user.name para o msg.payload",
        "x": 739,
        "y": 211,
        "wires": []
    },
    {
        "id": "8841da6e18a929f0",
        "type": "ui_chart",
        "z": "d6c329914ca9c596",
        "name": "",
        "group": "4429aae43b37c326",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Calorie Consuption",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "15000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 519,
        "y": 131,
        "wires": [
            []
        ]
    },
    {
        "id": "3fcc4fb38fab55c0",
        "type": "ui_slider",
        "z": "d6c329914ca9c596",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "4429aae43b37c326",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "15000",
        "step": 1,
        "className": "",
        "x": 179,
        "y": 131,
        "wires": [
            [
                "8841da6e18a929f0"
            ]
        ]
    },
    {
        "id": "918d1eb74676c809",
        "type": "comment",
        "z": "d6c329914ca9c596",
        "name": "Receber dados caloricos e preencher",
        "info": "",
        "x": 579,
        "y": 91,
        "wires": []
    },
    {
        "id": "eca9c0571cd9681f",
        "type": "inject",
        "z": "d6c329914ca9c596",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3d4d33bc2bdbe0cc",
        "type": "inject",
        "z": "d6c329914ca9c596",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 120,
        "wires": [
            [
                "cc32805493c8ea22",
                "32dc081c05bd8bfa"
            ]
        ]
    },
    {
        "id": "cc32805493c8ea22",
        "type": "debug",
        "z": "d6c329914ca9c596",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "17d9848c7b093add",
        "type": "ui_text",
        "z": "d6c329914ca9c596",
        "group": "086e043121d11401",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1190,
        "y": 140,
        "wires": []
    },
    {
        "id": "32dc081c05bd8bfa",
        "type": "function",
        "z": "d6c329914ca9c596",
        "name": "Format Time",
        "func": "var d = new Date();\nvar options = { timeZone: 'UTC', timeZoneName: 'long', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar _resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 140,
        "wires": [
            [
                "17d9848c7b093add"
            ]
        ]
    },
    {
        "id": "7debea1c8fc1048b",
        "type": "ui_dropdown",
        "z": "d6c329914ca9c596",
        "name": "",
        "label": "Age",
        "tooltip": "",
        "place": "Select age range",
        "group": "086e043121d11401",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "20 to 29",
                "value": 2,
                "type": "num"
            },
            {
                "label": "30 to 39",
                "value": "3",
                "type": "str"
            },
            {
                "label": "40 to 49",
                "value": "4",
                "type": "str"
            },
            {
                "label": "50 to 59",
                "value": "5",
                "type": "str"
            },
            {
                "label": "60 to 69",
                "value": "6",
                "type": "str"
            },
            {
                "label": "70 to 79",
                "value": "7",
                "type": "str"
            },
            {
                "label": "80 to 89",
                "value": "8",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "d614d03dbc80f6cd"
            ]
        ]
    },
    {
        "id": "a19db59d2893123c",
        "type": "ui_text_input",
        "z": "d6c329914ca9c596",
        "name": "",
        "label": "Weight (kg)",
        "tooltip": "",
        "group": "086e043121d11401",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "1",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "d1606ab8b46b083c"
            ]
        ]
    },
    {
        "id": "734238773bf2a564",
        "type": "ui_dropdown",
        "z": "d6c329914ca9c596",
        "name": "",
        "label": "Gender",
        "tooltip": "",
        "place": "Select option",
        "group": "086e043121d11401",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Male",
                "value": "M",
                "type": "str"
            },
            {
                "label": "Female",
                "value": "F",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "ee41390d6d07e323"
            ]
        ]
    },
    {
        "id": "8d12acf7e01b49b3",
        "type": "ui_date_picker",
        "z": "d6c329914ca9c596",
        "name": "",
        "label": "Date",
        "group": "086e043121d11401",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "26dadb0e5e8e81b1"
            ]
        ]
    },
    {
        "id": "d614d03dbc80f6cd",
        "type": "change",
        "z": "d6c329914ca9c596",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "69383ab57a5bee97"
            ]
        ]
    },
    {
        "id": "69383ab57a5bee97",
        "type": "function",
        "z": "d6c329914ca9c596",
        "name": "Get user info",
        "func": "msg = {}\nmsg.age = global.get(\"age\")\nmsg.weight = global.get(\"weight\")\nmsg.gender = global.get(\"gender\")\nmsg.height = global.get(\"height\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "64d5dd9bdd56dbf2",
        "type": "debug",
        "z": "d6c329914ca9c596",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "calories",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 520,
        "wires": []
    },
    {
        "id": "d1606ab8b46b083c",
        "type": "change",
        "z": "d6c329914ca9c596",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "weight",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "69383ab57a5bee97"
            ]
        ]
    },
    {
        "id": "ee41390d6d07e323",
        "type": "change",
        "z": "d6c329914ca9c596",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gender",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "69383ab57a5bee97"
            ]
        ]
    },
    {
        "id": "26dadb0e5e8e81b1",
        "type": "change",
        "z": "d6c329914ca9c596",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "date",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "68398c5d08b37f7f",
        "type": "function",
        "z": "d6c329914ca9c596",
        "name": "Calories per secound",
        "func": "let velocity_map = new Map([\n    [JSON.stringify([\"2\", \"M\"]), 1.36],\n    [JSON.stringify([\"2\", \"F\"]), 1.34],\n    [JSON.stringify([\"3\", \"M\"]), 1.43],\n    [JSON.stringify([\"3\", \"F\"]), 1.34],\n    [JSON.stringify([\"4\", \"M\"]), 1.43],\n    [JSON.stringify([\"4\", \"F\"]), 1.39],\n    [JSON.stringify([\"5\", \"M\"]), 1.43],\n    [JSON.stringify([\"5\", \"F\"]), 1.32],\n    [JSON.stringify([\"6\", \"M\"]), 1.34],\n    [JSON.stringify([\"6\", \"F\"]), 1.24],\n    [JSON.stringify([\"7\", \"M\"]), 1.26],\n    [JSON.stringify([\"7\", \"F\"]), 1.13],\n    [JSON.stringify([\"8\", \"M\"]), 0.97],\n    [JSON.stringify([\"8\", \"F\"]), 0.94]\n]);\n\n//Obtaining user info\nlet age = global.get(\"age\")\nlet weight = global.get(\"weight\")\nlet gender = global.get(\"gender\")\nlet height = global.get(\"height\")\n\n//Getting velocity from the table\nlet velocity = velocity_map.get(JSON.stringify([age, gender]))\n//If user is mostly running over this second double the velocity\nvelocity = velocity * 2 ? msg.activity.filter(x => x==0).length < msg.activity.filter(x => x==1).length : velocity\n\n//Calculate the calories with the given function\nmsg.calories = 0.035 * weight + (velocity ** 2) / (height/100) * 0.029 * weight\n//Round the calories to 3 decimal points\nmsg.calories = Math.round(msg.calories * 1000) / 1000\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 520,
        "wires": [
            [
                "64d5dd9bdd56dbf2"
            ]
        ]
    },
    {
        "id": "231f0eae2a43ecb7",
        "type": "inject",
        "z": "d6c329914ca9c596",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "2ac85d07c3a7dfac"
            ]
        ]
    },
    {
        "id": "a88a32c83179c55f",
        "type": "change",
        "z": "d6c329914ca9c596",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "height",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "69383ab57a5bee97"
            ]
        ]
    },
    {
        "id": "5b1fa12941257777",
        "type": "ui_text_input",
        "z": "d6c329914ca9c596",
        "name": "",
        "label": "Height (cm)",
        "tooltip": "",
        "group": "086e043121d11401",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": "1",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "a88a32c83179c55f"
            ]
        ]
    },
    {
        "id": "2ac85d07c3a7dfac",
        "type": "function",
        "z": "d6c329914ca9c596",
        "name": "function 3",
        "func": "msg.activity = Array.from({ length: 60 }, () => Math.floor(Math.random() * 2));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "68398c5d08b37f7f"
            ]
        ]
    }
]